header {
  grid-area: header;
  background-color: #203040;

  & a {
    color: #fff;
    padding: 1rem;

    &:hover {
      color: #ff8000;
    }
  }

  a.brand {
    color: #fff;
    font-size: 3rem;
    font-weight: bold;
  }

  a:hover.brand {
    color: #ff8000;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center {
  justify-content: center;
}

